{% extends 'base.html.twig' %}

{% block title %}Edit StatusTaches{% endblock %}

{% block body %}
    <h1>Edit StatusTaches</h1>

    {{ include('status_taches/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_status_taches_index') }}">back to list</a>

    {{ include('status_taches/_delete_form.html.twig') }}
{% endblock %}
